.relation_settings{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div#biodiv {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: fit-content;
}

.section {
    margin: 15px;
}


