

img#logo{
    height: 250px;
    justify-self: center;
    align-self: center;
}

#imglogo{
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
}
nav.main-nav{
    padding: 10px;
    background-color: black;
}

.navbar-brand:hover{
    color: rgb(0, 255, 174);
    transition: 1s;
}

